<div class="container" style="background-color: #dedef8;">
  <div class="row">
    <div class="col-md-8" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444444;
        height:500px;"> v8
      <div class="row">
        <div class="col-md-4" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444444;
            height:220px; width: 50% "> v8v4r1c1
        </div>
        <div class="col-md-4" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444444;
            height:220px;width: 50%"> v8v4r1c2
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444444;
            height:220px; width: 50% "> v8v4r2c1
        </div>
        <div class="col-md-4" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444444;
            height:220px;width: 50%"> v8v4r2c2
        </div>
      </div>
    </div>
    <div class="col-md-4" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444; height:500px;">v4
      <div class="row">
        <div class="col-md-2" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444444;
            height:220px; width: 50% "> v4v2r1c1
        </div>
        <div class="col-md-2" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444444;
            height:220px;width: 50%"> v4v2r1c2
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444444;
            height:220px; width: 100% "> v4v4r2
        </div>
      </div>

    </div>
  </div>

</div>
